@font-face {
    font-family: 'VT323';
    src: url('../font/VT323.ttf');
}

.menu-item > .label {
   -fx-text-size: 22;
}

.context-menu {
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}